/*font-family: 'Saira', sans-serif;
font-family: 'Roboto Condensed', sans-serif;*/

body {
  background-color: #F0F5F8;
  background-image: url(./images/equipment_background.jpg)
}

header{
  text-align: center;
}

h1{

}

.player{
  display: flex;
  justify-content: center;
}
